name: Issue Workflow

on:
  issues:
    types: [opened, edited, reopened]

jobs:
  print-context:
    runs-on: ubuntu-latest
    steps:
      - name: Print GH Context
        run: echo "${{ toJson(github.event) }}"
        



  
